<a href="https://colab.research.google.com/github/TKhahahah/Text_Analytics/blob/main/Text_Analytics68.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Project 1: Text Analytics

<img src="https://www.datanami.com/wp-content/uploads/2014/06/text-analytics.png" width="500" />

ชื่อกลุ่ม: ...

รายชื่อสมาชิก การแบ่งงาน และสัดส่วนในการทำงาน:
1. ...
2. นางสาวศศิวิมล ภาณุโชติ 663020040-8
3. ...
4. ...

กำหนดส่ง: อาทิตย์ 5 ตุลาคม 2568 \
รายงานในชั้นเรียน: จันทร์ 6 ตุลาคม 2568

**ผลที่คาดหวังจากการทำงานนี้**
* สามารถใช้ Python ในการอ่านข้อมูล
* จัดการกับข้อมูลเบื้องต้นในรูปแบบข้อความก่อนนำไปวิเคราะห์
* สามารถวิเคราะห์ข้อมูลตัวอักษรเบื้องต้นและสร้าง Data Visualization ที่เหมาะสมได้
----------------------

"""
# reading data sets from Google Drive
from google.colab import drive
drive.mount('/content/drive')
"""

In [1]:
"""
หากไม่สามารถลง library ใด ให้ดาวน์โหลดดังตัวอย่างต่อไปนี้
!pip install nltk
!pip install wordcloud
!pip install Pillow
"""
# Load these libraries
import json
import pprint
import pandas as pd
import numpy as np
from io import StringIO # using StringIO to prevent ValueError
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import nltk
import urllib.request

import matplotlib.pyplot as plt
%matplotlib inline

## Problem 1: Working with Twitter Data and JSON file
*หมายเหตุ: ไม่ต้องนำเสนอข้อนี้*

จากข้อมูลทวิตเตอร์เกี่ยวกับประเทศไทยที่เก็บในวันที่ 31 สิงหาคม 2565 ในรูปแบบ JSON จาก `thailand_tweets.txt` ซึ่งมีการดึงข้อมูลมาด้วยคีเวิร์ด "Thailand" ให้ทำการศึกษาข้อมูลและดึงค่าจากข้อมูล \
ทั้งนี้เราสามารถเรียกหน้าทวีตจาก tweet ID ได้ดังนี้
```
twitter.com/anyuser/status/<tweet_id>
```

#### Read JSON file

In [2]:
# ----------------- Your code here -----------------
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [14]:
# ----------------- Your code here -----------------
thai_tweets = open('/content/drive/MyDrive/DTW2/thailand_tweets.txt','r')

In [15]:
th = thai_tweets.read()
j_thai_tweets = json.loads(th)

In [16]:
j_thai_tweets

'{"1564764893038882816": {"tweet_id": "1564764893038882816", "username": "matthunter", "name": "MATT HUNT\\u039eR", "profile_picture": "https://twitter.com/matthunter/photo", "replies": 2, "retweets": 1, "likes": 7, "is_retweet": false, "posted_time": "2022-08-30T23:59:57+00:00", "content": "Thanks for asking! Yes, we will support shipping to most countries, including Japan and Thailand. ", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/matthunter/status/1564764893038882816", "link": ""}, "1564764866598080513": {"tweet_id": "1564764866598080513", "username": "DavSmithVP", "name": "DavSmith / Virtual Photography", "profile_picture": "https://twitter.com/DavSmithVP/photo", "replies": 0, "retweets": 0, "likes": 2, "is_retweet": false, "posted_time": "2022-08-30T23:59:50+00:00", "content": "Tomb Raider Underworld | Thailand \\n#VirtualPhotography \\n@tombraider\\n @crystaldynamics", "hashtags": ["VirtualPhotography"], "mentions": ["tombraider", "crystaldynamics"], "images": ["https://pbs.twimg.com/media/FbcpF-FXkAIlqTS?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/DavSmithVP/status/1564764866598080513", "link": ""}, "1564764845685280772": {"tweet_id": "1564764845685280772", "username": "DailyPattaya", "name": "The Pattaya Daily", "profile_picture": "https://twitter.com/DailyPattaya/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:59:45+00:00", "content": "The latest The Pattaya Daily! http://thepattayadaily.com Thanks to \\n@PopeKael\\n @ASEANNOWTH\\n #thailand #pattaya", "hashtags": ["thailand", "pattaya"], "mentions": ["PopeKael", "ASEANNOWTH"], "images": [], "videos": [], "tweet_url": "https://twitter.com/DailyPattaya/status/1564764845685280772", "link": ""}, "1564764710804897792": {"tweet_id": "1564764710804897792", "username": "Bryan62766077", "name": "Bryan", "profile_picture": "https://twitter.com/Bryan62766077/photo", "replies": 1, "retweets": 0, "likes": 1, "is_retweet": false, "posted_time": "2022-08-30T23:59:13+00:00", "content": "You can live some places for next to nothing, believe it or not. I pay $300 a month for a really nice apartment in Thailand. All utilities included. No deposit. Close to the beach. Live music clubs everywhere. Meals are about $2", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/Bryan62766077/status/1564764710804897792", "link": ""}, "1564764468277612549": {"tweet_id": "1564764468277612549", "username": "Megan_and_Grrr", "name": "Megan", "profile_picture": "https://twitter.com/Megan_and_Grrr/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:58:15+00:00", "content": "ALIEN HOUSE is a story of love, hope and alien intervention set in Wales, Thailand and Inner Space. It\'s a #fantasy story about #extraterrestrial contact and the conflict between a man and his inner voice or alter ego. William is not sure if he\'s going mad https://smarturl.it/alien-house-eng?IQid=jbmegan\\u2026", "hashtags": ["fantasy", "extraterrestrial"], "mentions": [], "images": ["https://pbs.twimg.com/media/Fbco_bSXEAMcDOZ?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/Megan_and_Grrr/status/1564764468277612549", "link": ""}, "1564764445825458181": {"tweet_id": "1564764445825458181", "username": "OhmPawatInter", "name": "OhmPawat International", "profile_picture": "https://twitter.com/OhmPawatInter/photo", "replies": 0, "retweets": 99, "likes": 143, "is_retweet": false, "posted_time": "2022-08-30T23:58:10+00:00", "content": "Trend twitter update \\n\\nTop Twitter influencers in Thailand today \\n#4 \\n@ohmpawatt\\nInfluence Score: 19442\\n7 top tweets\\n25182 retweets\\n\\nhttps://etrenders.com/trendsetters/Thailand\\u2026\\n#ohmpawat #\\u0e22\\u0e34\\u0e49\\u0e215\\u0e1e\\u0e31\\u0e19\\u0e02\\u0e2d\\u0e07\\u0e42\\u0e2d\\u0e21\\u0e20\\u0e27\\u0e31\\u0e15", "hashtags": ["4", "ohmpawat", "\\u0e22"], "mentions": ["ohmpawatt"], "images": ["https://pbs.twimg.com/media/Fbco99jWIAEd3Oe?format=jpg&name=small", "https://pbs.twimg.com/media/Fbco-JwWYAE7oLy?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/OhmPawatInter/status/1564764445825458181", "link": ""}, "1564764361742110720": {"tweet_id": "1564764361742110720", "username": "nato_tonyo11", "name": "nutri(BUSY SI ENGR.)| SoliD", "profile_picture": "https://twitter.com/nato_tonyo11/photo", "replies": 0, "retweets": 2, "likes": 18, "is_retweet": false, "posted_time": "2022-08-30T23:57:50+00:00", "content": "Good morning  world! And goodmorning to you too #DonnyPangilinan, enjoy Thailand babe and please do take selfies out there!, pagod nakong makikitang sapatos pa din nasa igs mo!!", "hashtags": ["DonnyPangilinan"], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/nato_tonyo11/status/1564764361742110720", "link": ""}, "1564764274098323456": {"tweet_id": "1564764274098323456", "username": "ThThitikarn61", "name": "thiti", "profile_picture": "https://twitter.com/ThThitikarn61/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:57:29+00:00", "content": "Listening to #faraway the title track of #theotherside album by #MarkTuan \\n@marktuan\\n while traveling to Thailand", "hashtags": ["faraway", "theotherside", "MarkTuan"], "mentions": ["marktuan"], "images": [], "videos": [], "tweet_url": "https://twitter.com/ThThitikarn61/status/1564764274098323456", "link": ""}, "1564764028014313472": {"tweet_id": "1564764028014313472", "username": "Livetradingnews", "name": "Knightly News", "profile_picture": "https://twitter.com/Livetradingnews/photo", "replies": 0, "retweets": 2, "likes": 3, "is_retweet": false, "posted_time": "2022-08-30T23:56:30+00:00", "content": "With the recent news of the SCB X-Bitkub deal falling apart and the Zipmex incident, investors in Thailand\'s digital currency market are facing a negative outlook", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/Livetradingnews/status/1564764028014313472", "link": ""}, "1564763907700531202": {"tweet_id": "1564763907700531202", "username": "DiscoverSoc", "name": "Discover Society", "profile_picture": "https://twitter.com/DiscoverSoc/photo", "replies": 0, "retweets": 1, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:56:02+00:00", "content": "#ICYMI  On the Frontline. Crude Power in Thailand\\u2019s 2014 Coup: Old Soldiers Almost Die", "hashtags": ["ICYMI"], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/DiscoverSoc/status/1564763907700531202", "link": "https://t.co/OYQzv4BSm9"}, "1564763775403712513": {"tweet_id": "1564763775403712513", "username": "Onside10900651", "name": "Onside", "profile_picture": "https://twitter.com/Onside10900651/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:55:30+00:00", "content": "And I thought Thailand was absolutely democratic?", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/Onside10900651/status/1564763775403712513", "link": ""}, "1564763746463105026": {"tweet_id": "1564763746463105026", "username": "lekwilliams", "name": "Lek", "profile_picture": "https://twitter.com/lekwilliams/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:55:23+00:00", "content": "How far would you go to save the family farm and keep your siblings in school? Read what Lek did in \'Behind The Smile, the story of Lek, a bar girl in Pattaya\' by Owen Jones! https://smarturl.it/BTS-boxset?IQid=SJB-lw-thailand\\u2026 #pattaya #Thailand Please retweet", "hashtags": ["pattaya", "Thailand"], "mentions": [], "images": ["https://pbs.twimg.com/media/FbcoVHpWIAEh_R0?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/lekwilliams/status/1564763746463105026", "link": ""}, "1564763729967054848": {"tweet_id": "1564763729967054848", "username": "o_rung_o1", "name": "o_Rung_o", "profile_picture": "https://twitter.com/o_rung_o1/photo", "replies": 0, "retweets": 28, "likes": 15, "is_retweet": false, "posted_time": "2022-08-30T23:55:19+00:00", "content": "\\u0e27\\u0e31\\u0e19\\u0e19\\u0e35\\u0e49\\u0e27\\u0e31\\u0e19\\u0e2a\\u0e38\\u0e14\\u0e17\\u0e49\\u0e32\\u0e22\\u0e02\\u0e2d\\u0e07\\u0e01\\u0e32\\u0e23\\u0e42\\u0e2b\\u0e27\\u0e15 \\u0e23\\u0e32\\u0e07\\u0e27\\u0e31\\u0e25 Outstanding Asian Star Thailand #SDA2022 \\u0e43\\u0e2b\\u0e49\\u0e19\\u0e49\\u0e2d\\u0e07\\u0e1e\\u0e35\\u0e1e\\u0e35\\u0e41\\u0e25\\u0e49\\u0e27\\u0e19\\u0e30\\u0e04\\u0e30 \\n\\u0e21\\u0e32\\u0e1e\\u0e32\\u0e19\\u0e49\\u0e2d\\u0e07\\u0e44\\u0e1b\\u0e23\\u0e31\\u0e1a\\u0e16\\u0e49\\u0e27\\u0e22\\u0e23\\u0e32\\u0e07\\u0e27\\u0e31\\u0e252\\u0e1b\\u0e35\\u0e0b\\u0e49\\u0e2d\\u0e19\\u0e01\\u0e31\\u0e19\\u0e04\\u0e48\\u0e30\\n#voteforppkritt \\n#ppkritt", "hashtags": ["SDA2022", "voteforppkritt", "ppkritt"], "mentions": [], "images": ["https://pbs.twimg.com/media/FbcoUQAaQAAIFME?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/o_rung_o1/status/1564763729967054848", "link": ""}, "1564763679232405504": {"tweet_id": "1564763679232405504", "username": "sixhav", "name": "shi bangs", "profile_picture": "https://twitter.com/sixhav/photo", "replies": 1, "retweets": 0, "likes": 1, "is_retweet": false, "posted_time": "2022-08-30T23:55:07+00:00", "content": "right? 2 years ago he is just a simple born and raised guy from thailand who can barely speak thai and likes to do diys and make everything about math i just love how authentic he is hahaha have you seen his 1000 push ups one? ", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/sixhav/status/1564763679232405504", "link": ""}, "1564763673662464003": {"tweet_id": "1564763673662464003", "username": "JaeJazee", "name": "\\u24b7\\u24c9\\u24c8ARMY\\ud560\\uba38\\ub2c8\\u1d36\\u1d39\\u1d36\\u1d37\\u00b3\\u1d36", "profile_picture": "https://twitter.com/JaeJazee/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:55:06+00:00", "content": "I knew I heard the beginning speech that Lisa had an Australian accent.  It is not that she is from Australia but Thailand... here is the explanation...", "hashtags": [], "mentions": [], "images": ["https://pbs.twimg.com/media/FbcoKGTWAAAA0-D?format=png&name=900x900"], "videos": [], "tweet_url": "https://twitter.com/JaeJazee/status/1564763673662464003", "link": ""}, "1564763553130655744": {"tweet_id": "1564763553130655744", "username": "chak4793", "name": "\\u00a2\\u043d\\u03b1\\u043a.\\u0454\\u0442\\u043d", "profile_picture": "https://twitter.com/chak4793/photo", "replies": 1, "retweets": 0, "likes": 7, "is_retweet": false, "posted_time": "2022-08-30T23:54:37+00:00", "content": "Can fluf merch send to Asian countries like Japan or Thailand?", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/chak4793/status/1564763553130655744", "link": ""}, "1564763407818952705": {"tweet_id": "1564763407818952705", "username": "SarahJa56317435", "name": "j", "profile_picture": "https://twitter.com/SarahJa56317435/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:54:02+00:00", "content": "= and the French people and also Thailand\'s people that have not thrown lethal military barracks gas at an \'Enemy of Thought\' are the races to not survive a space race Masterclass", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/SarahJa56317435/status/1564763407818952705", "link": ""}, "1564763389058027521": {"tweet_id": "1564763389058027521", "username": "starrykws", "name": "em \\u263e", "profile_picture": "https://twitter.com/starrykws/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:53:58+00:00", "content": "woo.ddadda in thailand ", "hashtags": [], "mentions": [], "images": ["https://pbs.twimg.com/media/FbcoAO_XkAA-Isn?format=jpg&name=360x360", "https://pbs.twimg.com/media/FbcoAPDXEAYc26T?format=jpg&name=360x360"], "videos": [], "tweet_url": "https://twitter.com/starrykws/status/1564763389058027521", "link": ""}, "1564763303989366784": {"tweet_id": "1564763303989366784", "username": "aisseutea", "name": "Cynthia Dewi", "profile_picture": "https://twitter.com/aisseutea/photo", "replies": 1, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:53:38+00:00", "content": "Kalo di thailand bukan dong :)", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/aisseutea/status/1564763303989366784", "link": ""}, "1564763292354355200": {"tweet_id": "1564763292354355200", "username": "LDN327", "name": "LDN327", "profile_picture": "https://twitter.com/LDN327/photo", "replies": 1, "retweets": 7, "likes": 5, "is_retweet": false, "posted_time": "2022-08-30T23:53:35+00:00", "content": "- please engage\\n\\nELLE Thailand  \\n https://instagram.com/p/Ch02SH7hGpq/ \\n  https://instagram.com/p/Ch0xESZB1kr/ \\n\\n#LISA #LALISA #Money", "hashtags": ["LISA", "LALISA", "Money"], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/LDN327/status/1564763292354355200", "link": "https://t.co/6aZ539h9RK"}, "1564763185244426240": {"tweet_id": "1564763185244426240", "username": "Jay_beebee", "name": "Jay Bee", "profile_picture": "https://twitter.com/Jay_beebee/photo", "replies": 1, "retweets": 7, "likes": 7, "is_retweet": true, "posted_time": "2022-08-30T23:53:09+00:00", "content": "\\u0e1e\\u0e23\\u0e49\\u0e2d\\u0e21\\u0e04\\u0e23\\u0e31\\u0e0a\\n\\nPlease,come to thailand.\\n \\n\\n#JAYB #\\uc81c\\uc774\\ube44 \\n@jaybnow_hr\\n#GOT7 #\\uac13\\uc138\\ube10 \\n@GOT7\\n#CDNZA \\n@cdnzarecords\\n#Def", "hashtags": ["JAYB", "\\uc81c\\uc774\\ube44", "GOT7", "\\uac13\\uc138\\ube10", "CDNZA", "Def"], "mentions": ["jaybnow_hr", "GOT7", "cdnzarecords"], "images": ["https://pbs.twimg.com/media/FbcmB6RUEAA75m6?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/Jay_beebee/status/1564763185244426240", "link": ""}, "1564763141589897217": {"tweet_id": "1564763141589897217", "username": "Iovelydoll", "name": "", "profile_picture": "https://twitter.com/Iovelydoll/photo", "replies": 0, "retweets": 0, "likes": 3, "is_retweet": true, "posted_time": "2022-08-30T23:52:59+00:00", "content": "we need more ten vlogs in thailand...a girl can dream", "hashtags": [], "mentions": [], "images": ["https://pbs.twimg.com/media/EDNptiHUEAAqdwm?format=jpg&name=small"], "videos": [], "tweet_url": "https://twitter.com/Iovelydoll/status/1564763141589897217", "link": ""}, "1564763050477244417": {"tweet_id": "1564763050477244417", "username": "jaemmrchv", "name": "wonyoungiii | surprise cutie", "profile_picture": "https://twitter.com/jaemmrchv/photo", "replies": 0, "retweets": 1, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:52:37+00:00", "content": "@NaEMwi\\n @jaemwinner\\n @JAEMIN_THAILAND", "hashtags": [], "mentions": ["NaEMwi", "jaemwinner", "JAEMIN_THAILAND"], "images": [], "videos": [], "tweet_url": "https://twitter.com/jaemmrchv/status/1564763050477244417", "link": ""}, "1564762341324992513": {"tweet_id": "1564762341324992513", "username": "Zeepruk_jfc", "name": "ZeePruk_JapanFC\\uff08Rest\\uff09", "profile_picture": "https://twitter.com/Zeepruk_jfc/photo", "replies": 2, "retweets": 54, "likes": 32, "is_retweet": false, "posted_time": "2022-08-30T23:49:48+00:00", "content": "Can you help me?\\n\\ntracking number\\nFMP200001150XX\\n\\nDoes anyone know a shipping company in Thailand that handles this number?\\nI\'m in trouble with no reply even if I contact the caller \\n\\n#Zunshine", "hashtags": ["Zunshine"], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/Zeepruk_jfc/status/1564762341324992513", "link": ""}, "1564762335192940544": {"tweet_id": "1564762335192940544", "username": "NFTLadyEve", "name": "NFTeVe", "profile_picture": "https://twitter.com/NFTLadyEve/photo", "replies": 1, "retweets": 0, "likes": 1, "is_retweet": false, "posted_time": "2022-08-30T23:49:47+00:00", "content": "how about Friday at 11 am? that way it will  be 10pm in Thailand & we can invite that crew.\\n@blossom_melonn", "hashtags": [], "mentions": ["blossom_melonn"], "images": [], "videos": [], "tweet_url": "https://twitter.com/NFTLadyEve/status/1564762335192940544", "link": ""}, "1564762170277052418": {"tweet_id": "1564762170277052418", "username": "AntzAntz1", "name": "palito..showcase", "profile_picture": "https://twitter.com/AntzAntz1/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:49:07+00:00", "content": "\\u0e40\\u0e1b\\u0e4a\\u0e01 \\u0e1b\\u0e32\\u0e25\\u0e4c\\u0e21\\u0e21\\u0e35\\u0e48 | Disney+ Hotstar Thailand https://youtu.be/541HmrdzmHc via \\n@YouTube\\n  #\\u0e40\\u0e1b\\u0e01\\u0e1c\\u0e25\\u0e34\\u0e15\\u0e42\\u0e0a\\u0e04 #PeckPaLitChoke", "hashtags": ["\\u0e40\\u0e1b\\u0e01\\u0e1c\\u0e25", "PeckPaLitChoke"], "mentions": ["YouTube"], "images": [], "videos": [], "tweet_url": "https://twitter.com/AntzAntz1/status/1564762170277052418", "link": ""}, "1564762027507458049": {"tweet_id": "1564762027507458049", "username": "taraxacumyx", "name": "Dandelion", "profile_picture": "https://twitter.com/taraxacumyx/photo", "replies": 1, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:48:33+00:00", "content": "@blueeyellowww\\n Yuk nabung buat ke Thailand wkwk", "hashtags": [], "mentions": ["blueeyellowww"], "images": [], "videos": [], "tweet_url": "https://twitter.com/taraxacumyx/status/1564762027507458049", "link": ""}, "1564761944061382656": {"tweet_id": "1564761944061382656", "username": "IrfanHazard10", "name": "Irfan Rapiansyah", "profile_picture": "https://twitter.com/IrfanHazard10/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:48:13+00:00", "content": "Padahal berharap pertama lawan Thailand atau Filipina", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/IrfanHazard10/status/1564761944061382656", "link": ""}, "1564761905410875392": {"tweet_id": "1564761905410875392", "username": "moanfIeur", "name": "", "profile_picture": "https://twitter.com/moanfIeur/photo", "replies": 0, "retweets": 0, "likes": 0, "is_retweet": false, "posted_time": "2022-08-30T23:48:04+00:00", "content": "Tinggal cari duitnya aja ini mah kalo di Thailand bisa pake Qris", "hashtags": [], "mentions": [], "images": [], "videos": [], "tweet_url": "https://twitter.com/moanfIeur/status/1564761905410875392", "link": ""}}'

#### Inspect data in JSON format (either reading using pretty print or Pandas data frame)

In [20]:
# ----------------- Your code here -----------------
pd_thai_tweets = pd.read_json(StringIO(j_thai_tweets), orient='index').head()
pd_thai_tweets

,tweet_id,username,name,profile_picture,replies,retweets,likes,is_retweet,posted_time,content,hashtags,mentions,images,videos,tweet_url,link
2019-08-02 16:54:53.038882816,1564764893038882816,matthunter,MATT HUNTΞR,https://twitter.com/matthunter/photo,2,1,7,False,2022-08-30 23:59:57+00:00,"Thanks for asking! Yes, we will support shippi...",[],[],[],[],https://twitter.com/matthunter/status/15647648...,
2019-08-02 16:54:26.598080513,1564764866598080512,DavSmithVP,DavSmith / Virtual Photography,https://twitter.com/DavSmithVP/photo,0,0,2,False,2022-08-30 23:59:50+00:00,Tomb Raider Underworld | Thailand \n#VirtualPh...,[VirtualPhotography],"[tombraider, crystaldynamics]",[https://pbs.twimg.com/media/FbcpF-FXkAIlqTS?f...,[],https://twitter.com/DavSmithVP/status/15647648...,
2019-08-02 16:54:05.685280772,1564764845685280768,DailyPattaya,The Pattaya Daily,https://twitter.com/DailyPattaya/photo,0,0,0,False,2022-08-30 23:59:45+00:00,The latest The Pattaya Daily! http://thepattay...,"[thailand, pattaya]","[PopeKael, ASEANNOWTH]",[],[],https://twitter.com/DailyPattaya/status/156476...,
2019-08-02 16:51:50.804897792,1564764710804897792,Bryan62766077,Bryan,https://twitter.com/Bryan62766077/photo,1,0,1,False,2022-08-30 23:59:13+00:00,"You can live some places for next to nothing, ...",[],[],[],[],https://twitter.com/Bryan62766077/status/15647...,
2019-08-02 16:47:48.277612549,1564764468277612544,Megan_and_Grrr,Megan,https://twitter.com/Megan_and_Grrr/photo,0,0,0,False,2022-08-30 23:58:15+00:00,"ALIEN HOUSE is a story of love, hope and alien...","[fantasy, extraterrestrial]",[],[https://pbs.twimg.com/media/Fbco_bSXEAMcDOZ?f...,[],https://twitter.com/Megan_and_Grrr/status/1564...,

In [21]:
pd_thai_tweets.shape

(5, 16)

#### Report: จงตอบคำถามต่อไปนี้
* The total number of tweets collected in the file
* The content of the first tweet:
* Is the first tweet contained any hashtags or mentions?
* Collect all hashtags related to Thailand from this data
* Find the most popular tweets in your collection of tweets, i.e. the tweets with the largest number of retweet/replies/likes counts  
* Display the top 5 tweets that are the most popular among your collection \
สามารถใช้ `np.argsort(<list>)[:5]` ซึ่งจะแสดงผล indices ของการเรียงค่าจากน้อยสุดไปมากสุด จำนวน 5 ค่า และ `np.argsort(<list>)[::-1][:5]` จะแสดงผล indices ของการเรียงค่าจากมากไปน้อยจำนวน 5 ค่า (https://numpy.org/doc/stable/reference/generated/numpy.argsort.html)
* Create a word cloud of words in the contents; however, we note that this word cloud is not a good representation of Thailand as the data size is small

In [ ]:
# ----------------- Your code here -----------------

## Problem 2: Study Collected Yelp Reviews

![](https://techcrunch.com/wp-content/uploads/2022/08/Yelp-Android_Full-Experience.jpg?w=1390&crop=1)

ดาวน์โหลด Yelp dataset เกี่ยวกับรีวิวของผู้ใช้บริการธุรกิจต่าง ๆ จาก https://www.yelp.com/dataset
<br>
รายละเอียดข้อมูล https://www.yelp.com/dataset/documentation/main
<br>
ให้ศึกษาข้อมูลจากไฟล์ yelp_academic_dataset_review.json, yelp_academic_dataset_business.json, และ yelp_academic_dataset_user.json

### อ่านข้อมูล Reviews, Businesses, และ Users เป็นจำนวน 100,000 รีวิว

In [22]:
# เปลี่ยน path ของ working directory เช่น ที่ไหนใน Google Drive
myDirectory = "/content/drive/MyDrive/DTW2/thailand_tweets.txt"
reviewFilePath = "yelp_academic_dataset_review.json"
businessFilePath = "yelp_academic_dataset_business.json"
userFilePath = "yelp_academic_dataset_user.json"

อ่านข้อมูล review

In [ ]:
# We only use the first 100,000 reviews
n = 100000
reviews = []
with open(myDirectory+reviewFilePath) as fl:
    for i, line in enumerate(fl):
        reviews.append(json.loads(line))
        if i+1 >= n:
            break
reviews = pd.DataFrame(reviews)
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  float64
 4   useful       100000 non-null  int64
 5   funny        100000 non-null  int64
 6   cool         100000 non-null  int64
 7   text         100000 non-null  object
 8   date         100000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.9+ MB

อ่านข้อมูล business

In [ ]:
businesses = []
with open(myDirectory+businessFilePath) as fl:
    for i, line in enumerate(fl):
        businesses.append(json.loads(line))
businesses = pd.DataFrame(businesses)
businesses.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [ ]:
businesses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

อ่านข้อมูล user

In [ ]:
users = []
with open(myDirectory+userFilePath) as fl:
    for i, line in enumerate(fl):
        users.append(json.loads(line))
users = pd.DataFrame(users)
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [ ]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB

### รวมข้อมูล Reviews, Businesses, และ Users และสำรวจตัวแปรในข้อมูล

In [ ]:
# join reviews and businesses data using inner join
df = pd.merge(reviews, businesses, on='business_id', suffixes=('_review', '_business'))
# join reviews-businesses and users data using inner join
df = pd.merge(df, users, on='user_id', suffixes=('_review_business', '_user'))
df

,review_id,user_id,business_id,stars_review,useful_review_business,funny_review_business,cool_review_business,text,date,name_review_business,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,...,0,0,0,0,0,0,1,1,0,0
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,Body Cycle Spinning Studio,...,0,0,0,0,0,0,0,0,0,0
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,...,14,3,1,1,63,96,86,86,49,27
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,1,0,0,0,0,0,0,0,0,0
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,Melt,...,0,0,0,0,0,1,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,pAEbIxvr6ebx2bHc1XvguA,SMH5CeiLvKx61lKwtLZ_PA,lV0k3BnslFRkuWD_kbKd0Q,4.0,0,0,0,Came here for lunch with a group. They were bu...,2018-05-30 22:28:56,Metro Diner,...,0,0,0,0,0,0,3,3,0,0
99996,xH1AoE-4nf2ECGQJRjO4_g,2clTdtp-BjphxLjN83CpUA,G0xz3kyRhRi6oZl7KfR0pA,1.0,1,0,0,The equipment is so old and so felty! I just u...,2015-04-05 23:31:52,Esporta Fitness,...,0,0,0,0,0,3,0,0,0,0
99997,GatIbXTz-WDru5emONUSIg,MRrN6DH3QGCFcDv5RENYVg,C4lZdhasjZVQyDlOiXY1sA,4.0,0,0,0,This is one of my favorite Mexican restaurants...,2016-06-04 00:59:15,Buena Vista Mexican Restaurant,...,0,0,0,0,1,1,0,0,0,0
99998,6NfkodAdhvI89xONXuBC3A,rnNQzeKJbvqVCsYsL10mkQ,dChRGpit9fM_kZK5pafNyA,2.0,0,0,0,Came here for brunch - had an omlette ($19 + t...,2018-06-11 12:45:08,The Love,...,1,0,0,0,5,1,1,1,0,0
99999,sJ1BMq7lkKgOWEFx3n6ZRw,_BcWyKQL16ndpBdggh2kNA,hMcgO98QaOFmQVTfCUeGzw,5.0,0,0,0,Came in for my 5-6 month prophy and saw Kara -...,2013-06-06 10:10:33,Dentistry For Life,...,59,42,15,35,262,498,394,394,191,36

### ทำการสำรวจข้อมูลเบื้องต้น

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 43 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   review_id                     100000 non-null  object
 1   user_id                       100000 non-null  object
 2   business_id                   100000 non-null  object
 3   stars_review                  100000 non-null  float64
 4   useful_review_business        100000 non-null  int64
 5   funny_review_business         100000 non-null  int64
 6   cool_review_business          100000 non-null  int64
 7   text                          100000 non-null  object
 8   date                          100000 non-null  object
 9   name_review_business          100000 non-null  object
 10  address                       100000 non-null  object
 11  city                          100000 non-null  object
 12  state                         100000 non-null  object
 13  postal_code                   100000 non-null  object
 14  latitude                      100000 non-null  float64
 15  longitude                     100000 non-null  float64
 16  stars_business                100000 non-null  float64
 17  review_count_review_business  100000 non-null  int64
 18  is_open                       100000 non-null  int64
 19  attributes                    98369 non-null   object
 20  categories                    99996 non-null   object
 21  hours                         94176 non-null   object
 22  name_user                     100000 non-null  object
 23  review_count_user             100000 non-null  int64
 24  yelping_since                 100000 non-null  object
 25  useful_user                   100000 non-null  int64
 26  funny_user                    100000 non-null  int64
 27  cool_user                     100000 non-null  int64
 28  elite                         100000 non-null  object
 29  friends                       100000 non-null  object
 30  fans                          100000 non-null  int64
 31  average_stars                 100000 non-null  float64
 32  compliment_hot                100000 non-null  int64
 33  compliment_more               100000 non-null  int64
 34  compliment_profile            100000 non-null  int64
 35  compliment_cute               100000 non-null  int64
 36  compliment_list               100000 non-null  int64
 37  compliment_note               100000 non-null  int64
 38  compliment_plain              100000 non-null  int64
 39  compliment_cool               100000 non-null  int64
 40  compliment_funny              100000 non-null  int64
 41  compliment_writer             100000 non-null  int64
 42  compliment_photos             100000 non-null  int64
dtypes: float64(5), int64(21), object(17)
memory usage: 32.8+ MB

สำรวจการแจกแจงของจำนวนรีวิวที่แต่ละ user ให้

In [ ]:
# ----------------- Your code here -----------------

สำรวจการแจกแจงของจำนวนรีวิวและจำนวนดาวที่แต่ละ business ได้รับ

In [ ]:
# ----------------- Your code here -----------------

มีธุรกิจกี่แบบ และธุรกิจในแต่ละแบบมีจำนวนเท่าไหร่

* ลองแยก `categories` ออกเป็น category ย่อย แล้วสามารถนับหรือใช้ฟังก์ชัน Counter `from collections import Counter` ในการนับจำนวนหรือความถี่ของธุรกิจแต่ละแบบ \
ตัวอย่าง https://www.geeksforgeeks.org/counters-in-python-set-1/

In [ ]:
# ----------------- Your code here -----------------

### ให้ตั้งปัญหาหรือคำถาม และวิเคราะห์ข้อมูลเพื่อตอบคำถามดังกล่าว

<ระบุจุดประสงค์ของการศึกษา>

In [ ]:
# ----------------- Your code here -----------------

In [ ]:
#----------------------------------------------
# Your code starts here
# create some data visualization for the analysis and your presentation

## Problem 3: Retrieving Data from Internet

ให้แต่ละกลุ่มคิดหัวข้อที่สนใจ และทำการดึงข้อมูลเกี่ยวกับหัวข้อที่สนใจผ่าน url ด้วยฟังก์ชัน `urllib.request.urlopen` จากแหล่งข้อมูลออนไลน์อย่างน้อย 10 แห่ง รวบรวมข้อมูลให้เป็นหนึ่งเดียว

In [ ]:
#----------------------------------------------
# Your code starts here

เตรียมข้อมูลและทำความสะอาดข้อมูลด้วยการทำ lower case, tokenization, removing stopwords (as well as punctuations, unrelated symbols, etc.), stemming, lemmatization เป็นต้น

In [ ]:
#----------------------------------------------
# Your code starts here

Text Mining: ทำการวิเคราะห์ข้อความที่รวบรวมมาได้ พร้อมทั้งแสดงการนำเสนอที่สร้างสรรค์

In [ ]:
#----------------------------------------------
# Your code starts here

-----------------
# เสร็จแล้ววววว 🥳

สิ่งที่ต้องแนบส่ง:
* Notebook File (ตัวอย่าง "filename.ipynb") หรือ Link to Google Colab ซึ่งมีผลลัพธ์จากการรันโค้ดแสดงทั้งหมด
* Slides สำหรับการนำเสนอ **10** นาที ซึ่งประกอบไปด้วย
    * ตอบคำถามต่าง ๆ ใน Notebook
    * อธิบายวิธีการที่ใช้ และแสดง screenshots ของผลลัพธ์ที่ได้จาก Python Notebook โดยแสดงภาพและตาราง โดยไม่จำเป็นที่จะต้องนำเสนอ source code

** Note: แต่ละกลุ่มส่งแค่ครั้งเดียว **